#about {
    overflow: hidden;
    display: flex;
    flex-direction:column;
    align-items: left;
    justify-content: left;
    text-align: left;
    width: 85vw;
    margin: 0 auto;
    padding: 1rem 2rem;

}

.AboutTitle {
    font-size: 30pt;
    font-weight: 550;
    font-family: terminal_grotesque, arial;
    margin-bottom: 0.3cm;
}


.desc {
    font-family: monospace;
    font-weight: lighter;
    font-size: 12.5pt;
    color: #3D3A3A;
    line-height: 0.7cm;
}
