#intro {
    width:100vw;
    margin: 0 auto;
    overflow: visible;
    position: relative;
}

.Photo {
    left: 750px;
    top: 100px;
    width: 400px;
    height: 500px;
    padding: 2rem;
    position: absolute;
    object-fit: cover;
    justify-content: center;
}

.introText {
    left: 300px;
    height: 700px;
    width: 1000px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    float: left;
}

.Hello {
    width: 15.2ch;
    animation: typing 2s steps(23), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: terminal_grotesque, arial;
    font-size: 50pt;
    text-align: center;
}

.wrapper {
    height: 12vh;
    display: grid;
    place-items: center;
  }

.Bio {
    font-family: anonymous;
    font-size: 20pt;
    margin: 0.2cm;
    color: #3D3A3A;
}

.Desc { 
    font-family: anonymous;
    font-size: 12.5pt;
    text-align: center;
    line-height: 0.7cm;
    color: #3D3A3A;
    max-width: 600px;
    padding-bottom: 10px;
}

@keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }