#intro {
    height: calc(100vh = 4rem);
    width:100vw;
    max-width: 100rem;
    margin: 0 auto;
    overflow: hidden;
}

.introContent {
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Hello {
    font-size: 30pt;
    font-weight: 700;
    text-align: center;
}

.Bio {
    font-size: 20pt;
    margin: 0.2cm;
    color: #6e83b0;
    text-align: center;
}

.Desc { 
    font-size: 12.5pt;
    line-height: 0.7cm;
    color: #6e83b0;
    text-align: center;
    max-width: 600px;
    padding-bottom: 10px;

}

.Contact {
    border-color: #8ad4b8;
    margin: 1rem 0;
    padding: 0.7rem 1rem;
    border-radius: 1.5rem;
    align-items: center;
    color:#586d96;
    font-weight: bolder;
    font-family: monospace;
    font-size: 10pt;
}

.Kelly {
    color:#a0cebc;
}

.ContactImg {
    object-fit: cover;
    margin: 1 0.25rem;
    height: 2.3rem;
}

@media only screen and (max-width: 600px) {
    .Desc {
        font-size: 10pt;
        max-width: none;
        padding-bottom: 20px;
    }
}