.header {
    font-size: 12.12pt;
    font-weight: bold;
    font-family: anonymous;
}


.navbar {
    height: 3rem;
    width: 90vw;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    background: transparent;
    backdrop-filter: blur(6pt);
}

.desktopMenuListItem {
    margin: 1rem;
    cursor: pointer;
    font-family: anonymous;
    font-size: 12pt;
}

.desktopMenuListItem:hover {
    color: #a2cff9;
    opacity: 2;
}

.links {
    object-fit: cover;
    height: 1.45rem;
    width: 1.45rem;
    margin: 0 0.35rem;
    flex-direction: row;
}
